.main-page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.main-bg {
	position: absolute;
	width: 27%;

	&__left-top {
		left: 0;
		top: 0;
	}

	&__left-bottom {
		left: 0;
		bottom: 0;
	}

	&__right-top {
		right: 0;
		top: 0;
	}

	&__right-bottom {
		right: 0;
		bottom: 0;
	}
}

.main-logo {
	&__wrapper {
		position: relative;
		margin: 0 auto;
		margin-top: -30px;
		width: 226px;

		.tooltip {
			width: inherit;
			height: inherit;
			left: 95px;
			bottom: 80px;
			z-index: -1;
		}
	}

	.brush {
		position: absolute;
		top: 40px;
		left: -14px;
		z-index: 2;
		width: 73px;
		height: 125px;

		opacity: 0;
		animation: girl 0.8s;
	}

	&__link {
		display: block;

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		&:hover .main-logo__logo {
			box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.9),
				0px 0px 10px rgba(0, 0, 0, 0.8);
		}
	}

	&__link:hover ~ .tooltip {
		display: block;
	}

	&__logo {
		position: relative;

		border: 13px solid #0c00a8;
		border-radius: 50%;
		width: 200px;
		height: 200px;

		box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.9);
		filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.9));

		overflow: hidden;

		.girl {
			position: absolute;
			left: -22px;
			top: 2px;
			width: 228px;

			animation: girl 0.8s;
		}
	}

	&__name {
		margin: 0 auto;
		width: 600px;

		filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.9));

		.letters g[id] {
			opacity: 0;
		}
	}
}

.main-nav {
	&__list {
		display: flex;
		justify-content: center;
		padding: 0;
		margin: 0;
		margin-left: -20px;

		list-style: none;
	}

	&__item + li {
		margin-left: 70px;
	}

	&__item {
		position: relative;

		.splash {
			position: absolute;
			z-index: -1;

			display: block;
			top: -10px;
			left: -35px;
			width: 205px;
			height: 200px;

			background-image: url("../img/pink-splash.svg");
			background-repeat: no-repeat;

			transform: scale(0);
			transition: transform 0.1s;
		}

		&--pencil {
			margin-top: 65px;

			.splash {
				left: -30px;

				background-image: url("../img/green-splash.svg");
			}

			.tooltip {
				bottom: -10px;
				left: 65px;
				transform: rotate(10deg);
			}
		}

		&--phone {
			.splash {
				top: -15px;
				left: -30px;

				background-image: url("../img/blue-splash.svg");
			}

			.tooltip {
				bottom: 55px;
				left: 95px;
			}
		}
	}

	&__link {
		position: relative;
		z-index: 3;
		display: block;
		width: 140px;
		height: 125px;

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.9));

		&--photo {
			background-image: url("../img/photo.svg");
		}

		&--pencil {
			background-image: url("../img/pencil.svg");
		}

		&--phone {
			background-image: url("../img/phone.svg");
		}

		&:hover {
			transform: scale(1.05);

			filter: drop-shadow(8px 8px 10px rgb(0, 0, 0));
		}

		&:active {
			transform: scale(0.9);
		}

		&:hover ~ .tooltip {
			display: block;
		}
	}
}

@keyframes girl {
	0% {
		transform: translateY(150px);
	}
	100% {
		transform: translateY(0);
	}
}

@media (max-width: 1400px) and (max-height: 1000px) {
	.content-wrapper {
		transform: scale(0.8);
	}
}

@media (max-width: 1024px) and (max-height: 500px) {
	.main-page {
		height: calc(var(--vh, 1vh) * 100);
	}

	.content-wrapper {
		transform: scale(0.45);
	}
}

@media (max-width: 500px) {
	.main-page {
		height: calc(var(--vh, 1vh) * 100);

		background: url("../img/round-bg-top.svg") no-repeat 50% 0,
			url("../img/round-bg-bottom.svg") no-repeat 50% 100%;
		background-size: 105%, 105%;
	}

	.main-bg {
		display: none;
	}

	.content-wrapper {
		transform: scale(0.5);
	}

	.main-logo {
		.tooltip {
			left: 55px;
			top: -60px;

			transform: rotate(-8deg);
		}
	}

	.main-nav__item {
		&--pencil .tooltip {
			top: -20px;
			left: 75px;
			transform: rotate(-5deg);
		}

		&--phone .tooltip {
			top: -25px;
			left: 95px;
		}
	}
}

@media (max-width: 320px) {
	.content-wrapper {
		transform: scale(0.4);
	}
}
